.form {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 20px;
}

@media (max-width: 767px) {
	.form {
		grid-template-columns: 1fr;
	}
}

.form__input {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.form__button {
	border: none;
	background: #f5a3b8;
	color: white;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	transition: background 0.3s;
}

.form__button:hover {
	background: #f395ad;
}