html {
    box-sizing: border-box;
  }
  
  *,
  ::before,
  ::after {
    box-sizing: inherit;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    background-image: url("../129.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
  }