.toDoList {
	list-style: none;
	padding: 0;
	margin: 0;
}

.toDoList__item {
	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: 10px;
	align-items: center;
	padding: 10px;
	border-bottom: 3px solid #f4f4f4;
	color: #222;
}

.toDoList__item--hidden {
	display: none;
}

.toDoList__button {
	width: 30px;
	height: 30px;
	background: hsl(120, 100%, 30%);
	border: none;
	color: white;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}

.toDoList__button:hover {
	background: hsl(120, 100%, 35%);
}

.toDoList__button:active {
	background: hsl(120, 100%, 40%);
}

.toDoList__button--remove {
	background: hsl(0, 100%, 45%);
}

.toDoList__button--remove:hover {
	background: hsl(0, 100%, 50%);
}

.toDoList__button--remove:active {
	background: hsl(0, 100%, 55%);
}

.buttons__button {
	border: none;
	background-color: unset;
	color: #f5a3b8;
	cursor: pointer;
}

.buttons__button:hover {
	text-decoration: underline;
}